.avatar {
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }
}

.final-form-row {
  @extend .is-block;
}

.final-form-row + .final-form-row {
  @extend .mt12;
}

#root,
#app-container {
  height: 100%;
  max-height: 100vh;
}
