// permet de convertir un chiffre sans unité en pixel
// voir les helpers, margin-padding
@function number-to-pixel($intSize: 0) {
  @return ($intSize * 1px);
}

@mixin sizeto($pixelSize) {
  width: $pixelSize;
  height: $pixelSize;
  min-width: $pixelSize;
  min-height: $pixelSize;
  line-height: $pixelSize;
}

@mixin radius($pixelSize) {
  border-radius: $pixelSize / 2;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin font-size-to-rem($pixelSize) {
  @include rem(font-size, $pixelSize);
}
