*,
input,
button,
textarea {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}

body {
  color: #000000;
  font-size: 16px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li + li {
  margin-top: 12px;
}

button {
  outline: none;
  cursor: pointer;
}

fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.disabled,
:disabled,
:disabled:hover,
:disabled:active,
:disabled:visited {
  cursor: not-allowed;
  box-shadow: inherit;
  text-shadow: inherit;
  pointer-events: none;
}

/* ------------------------------------------------------

 CLASSES

------------------------------------------------------ */

.is-overlay,
.is-absolute {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.is-relative {
  position: relative;
}

.is-clipped,
.no-overflow {
  overflow: hidden !important;
}

.no-background {
  background: transparent;
}

.scroll-x {
  overflow-y: hidden !important;
  overflow-x: scroll !important;
}

.scroll-y {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
