.is-italic {
  font-style: italic;
}

.is-underline {
  text-decoration: underline;
}

.is-bold {
  font-weight: bold;
}

.is-normal {
  font-weight: normal;
}

.is-light {
  font-weight: light;
}

.is-lowercase {
  text-transform: lowercase;
}

.is-uppercase {
  text-transform: uppercase;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
