
.icon-bell:before { content: '\e80c'; } /* '' */
.icon-bug:before { content: '\e813'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-gear:before { content: '\e841'; } /* '' */
.icon-git-commit:before { content: '\e846'; } /* '' */
.icon-git-pull-request:before { content: '\e849'; } /* '' */
.icon-issue-closed:before { content: '\e854'; } /* '' */
.icon-issue-opened:before { content: '\e855'; } /* '' */
.icon-issue-reopened:before { content: '\e856'; } /* '' */
.icon-plus:before { content: '\e87c'; } /* '' */