.final-form-row {
  @extend .is-block;
}

.final-form-row + .final-form-row {
  @extend .mt12;
}

#root,
#app-container {
  height: 100%;
  max-height: 100vh;
}

#channel-sidebar {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

#channel-sidebar-navigation {
  $item-width: 35px;

  .item {
    @extend .p3;
    @extend .no-overflow;
    @extend .text-center;

    width: $item-width;
    border-radius: 4px;
    background-color: $white;
  }

  .item + .item {
    @extend .mt12;
  }

  .item img {
    width: 100%;
    height: auto;
  }
}
