.final-form-row {
  @extend .is-block;
}

.final-form-row + .final-form-row {
  @extend .mt12;
}

.notification {
  padding: 12px;
  border-radius: 2px;
  margin-bottom: 3px;
  background-color: #D3D1D3;
}

.notification .name {
  border-radius: 4px;
}

.notification .name.issue {
  background-color: #42E6C0;
}

.notification .name.pullrequest {
  background-color: #FF6E5F;
}
